* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit
}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}
body {
    background: rgb(153, 153, 153);
    font-size: 15px;
    height: 2000px;
}
div#wrapper {
    width: 1200px;
    margin: 0 auto;
}
div#wrapper header h1{
    background: orange;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
}
div#wrapper header h1 span {
    font-size: 0.2em;
    line-height: 1.5em;
    display: block;
    padding-bottom: 5px;
}
div#wrapper header h2.stit {
    background: rgb(197, 197, 197);
    text-align: center;
    font-size: 0.8em;
    line-height: 1.5em;
}
div.container .side-menu {
    width: 25%;
    float: left;
    background: #ffffff;
    height: 708px;
}
div.container .side-menu h3 {
    background: rgb(158, 1, 1);
    color: #ffffff;
    padding: 10px;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: 1px;
}
div.container .side-menu ul {
    padding: 5px;
}
div.container .side-menu ul li {
    padding: 5px;
    text-decoration: underline;
    font-weight: 700;
    font-size: 0.8em;
}

div.container .main-content {
    width: 50%;
    float: left;
    background: #d7d7d7;
}
div.container .main-content .art-piece {
    margin: 15px 8px;
}
div.container .main-content .art-piece .title {
    background: #032944;
    color: #ffffff;
    padding: 5px;
}
div.container .main-content .art-piece .title a {
    display: block;
}
div.container .main-content .art-piece .artist {
    color: #032944;
    font-weight: 700;
    line-height: 3em;
    margin: 5px;
}
div.container .main-content .art-piece .detail {
    font-size: 0.7em;
    margin: 0 0 25px 5px;
}
div.container .banner {
    width: 25%;
    float: left;
    background: #ffffff;
    padding: 15px 8px;
    height: 708px;
}
div.container .banner h3 {
    font-size: 1.4em;
    font-weight: 700;
}
div.container .banner h3 .all {
    color: rgb(160, 160, 160);
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
}
div.container .banner h3 .love {
    color: rgb(255, 161, 74);
    text-decoration: underline;
    display: block;
    margin-bottom: 10px;
}
div.container .banner h3 strong {
    color: black;
    display: block;
    margin-bottom: 30px;
}
div.container .banner .link a {
    font-weight: 700;
    text-decoration: underline;
    font-size: 0.8em;
}
div.container .banner .link span {
    display: block;
    margin-bottom: 10px;
}
div#wrapper footer {
    background: #032944;
    height: 30px;
}
div#wrapper footer address {
    color: #ffffff;
    font-weight: 700;
    font-size: 0.8em;
    line-height: 30px;
    text-align: center;
}
div#wrapper footer address a {
    text-decoration: underline;
}